*{
    margin: 0;
    padding: 0;
}
.jumbotron{
    background-color: #bb09e7;
    height: 20vh;
}
.container h1{
    font-family: 'Pacifico',cursive;
    text-align: center;
    font-weight: bolder;
    font-size: 40px;
}
.form{
    text-align: center;
    padding-bottom: 50px;
    margin-top: 90px; 
    }
form input{
    width: 30%;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    text-align: center;
    padding: 10px;
}

.result-display p{
    padding: 20px;
}
tbody td{
    text-align: center;

}
thead th{
    text-align: center;
}
@media only screen and (max-width:600px)
{
      .container form{
          width: 100%;
          float: left;
      }
      .result-display p{
          margin-top: 30px;
          padding-top: 30px;
    }
}